name: Build GSI Nusantara
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup repo
      run: |
        sudo apt-get update
        sudo apt-get install git curl bc bison flex build-essential python3 openjdk-8-jdk -y
        mkdir rom && cd rom
        repo init -u https://github.com/NusantaraProject-ROM/android_manifest.git -b 10
        repo sync -j$(nproc)
        git clone https://github.com/phhusson/treble_experimentations.git phh
        cd phh && bash apply.sh && cd ..
        . build/envsetup.sh
        lunch treble_arm64_ab-userdebug
        make systemimage -j$(nproc)
    - name: Upload release
      uses: softprops/action-gh-release@v1
      with:
        files: out/target/product/arm64_ab/system.img
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
